html {
	height: 90%;
}

body {
	background-color: rgb(221, 221, 221);
	height: 100%;
	font-family: 'Pixelify Sans', sans-serif;
}


.aling-header {
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 48px;
	margin: auto;
}

.centralize-canva {
	min-height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.controls {
	margin-top: 20px;
	margin-bottom: 30px;
	height: 10%;
	display: flex;
	justify-content: center;
	gap: 40px;
}

.btn {
	cursor: pointer;
 	font-size: 28px;
	font-family: 'Pixelify Sans', sans-serif;
	font-weight: 400;
	width: 174px;
	border-radius: 0px;
	border-style: none;
	box-shadow: 5px 7px #000;
	background-color: #fff;
}

.btn:hover {
	background-color: #fff;
}

.btn:active {
	background-color: #fff;
	box-shadow: 5px 4px #000;
	transform: translateY(3px);
}




#canva {
	height: 500px;
	width: 500px;
}

.grid {
	background-color: white;
/* 	height: 32px;
	width: 32px; */
/* 	border-style: solid;
	border-color: lightgray;
	border-width: 1px; */
}

.row {
	display: flex;
}

.grid:hover {
	filter: brightness(95%);
}