html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(221, 221, 221);
}

#canva {
	height: 500px;
	width: 500px;
}

.grid {
	background-color: white;
/* 	height: 32px;
	width: 32px; */
/* 	border-style: solid;
	border-color: lightgray;
	border-width: 1px; */
}

.row {
	display: flex;
}

.grid:hover {
	filter: brightness(95%);
}