:root {
/* emerald */
/*     --emerald-50: #ecfdf5;
    --emerald-100: #d1fae5;
    --emerald-200: #a7f3d0;
    --emerald-300: #6ee7b7;
    --emerald-400: #34d399;
    --emerald-500: #10b981;
    --emerald-600: #059669;
    --emerald-700: #047857;
    --emerald-800: #065f46;
    --emerald-900: #064e3b;
    --emerald-950: #022c22; */
    /* rose */ 
    --rose-50: #fff1f2;
    --rose-100: #ffe4e6;
    --rose-200: #fecdd3;
    --rose-300: #fda4af;
    --rose-400: #fb7185;
    --rose-500: #f43f5e;
    --rose-600: #e11d48;
    --rose-700: #be123c;
    --rose-800: #9f1239;
    --rose-900: #881337;
    --rose-950: #4c0519;
}

html, body {
    height: 100%;
}

body {
	display: grid;
	grid-template-areas:	
							"navbar header"
							"navbar main"
                            ;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 150px 1fr;
    
    background-color: var(--rose-100);
    margin: 0;
}

body > * {
    padding: 1rem;
}

.header {
	grid-area: header;
    background-color: #ffffff;
}

.navbar {
	grid-area: navbar;
    background-color: var(--rose-800);
}

.main {
	grid-area: main;
}